*.pdf
.DS_Store
results
report
data/filetab.Rda
data/glm_exhaustive.Rda
data/glm_ga_professional.diagnosis_model.Rda
data/glm_spls_professional.diagnosis_model.Rda
data/test.Rda
data/test_corrected.Rda
data/topTables.Rda
data/training.Rda
data/training_corrected.Rda
data/training_reduced.Rda
.snakemake
*.back
*.Rproj
.Rproj.user
.Rhistory
.Snakefile.swp
data/glm_full.Rda
data/glm_stepped.Rda
data/test_expanded.Rda
data/training_expanded.Rda
data/training_filtered.Rda
